@import "index";

.item {
  width: 70vw;
  background-color: $mainColor;
  box-sizing: border-box;

  padding: 4vw 3vw 7vw;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: row;
  height: 30vw;
  justify-content: space-between;

  &-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &-image {
    width: 15vw;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  &-label {
    opacity: 0.5;
    font-size: $fontSize-m;
  }
  &-value {
    font-size: $fontSize-l;
  }

  &-button {
    cursor: pointer;
    padding: 0.5vw;
    border-radius: 0.3vw;
    width: 15vw;
    background-color: $activeColor;
    outline: none;
    color: white;
    transition: background-color $transitionTime ease-in-out;
    border: none;
    &:hover {
      background-color: darken($activeColor, 5%);
    }
  }
}
